@model Category
@{
    ViewData["Title"] = "CreateCategory";
}

<h3>Yeni Kategori Oluştur</h3>

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class="form-control" placeholder="Kategori Adı" />
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>
</form>